body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);
  font-family: Roboto, sans-serif;
}


.sidePanel {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #37468e;
  padding-top: 20px;
}

.sidePanel a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2b7c85;
  display: block;
  font-family: impact;
  font-size: 20px;
}

.sidePanel a:hover {
  color: #87aca3;
}


.main {
  position: relative;
  left:20%;
  top: 75px;
  width: 80%;
}

.close {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
