body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);
    font-family: Roboto, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#main {
  height: 100%;
}

.close {
  display: none !important;
}

button {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border-style: solid;
}

button:hover {
  filter: brightness(1.5);
}

.greenButton {
  background-color: #3c7e32;
  border-color: #3c7e32;
}

.yellowButton {
  background-color: #e2ee44;
  border-color: #e2ee44;
}

.redButton {
  background-color: #de5553;
  border-color: #de5553;
}

.block {
  margin-left: 20px;
  margin-top: 20px;
}

.commonImage {
  max-height: 256px;
  background-color: black;
}

.coverImage {
  height: 256px;
  width: 256px;
  background-color: black;
}
